<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>

<!-- DOis imports para utiliza em DATE CALENDARIO MATERIALIZE-->
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

   <!-- Adicionando JQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>



<!-- COLOCANDO O STYLE PARA APLICAR NA CLASSE STRIPED -->
<style type="text/css">
	table.striped>tbody>tr:nth-child(odd){
	 background-color:#f0f4c3;
	}
	
form input[type=submit]{  /*PEGAR TODOS OS INPUT E COLOCA A COR BRANCO*/
color:white;
}	
</style>



<title>Cadastro Colaboradores</title>
</head>

<body>

<h2> DADOS DO FUNCIONÁRIO</h2>


<div class="row"> <!-- DIV ROM PRINCIPAL -->
<form id="formfuncionario" action="salvarfuncionario" method="post" th:object="${funcionarioobj}" class="col s12" > 
	
<div class="row">
	<div class="input-field col s3">
		<label for="id" class="active">ID:</label>
		<input name="id" th:field="*{id}" readonly="readonly">
	</div>
	
	<div class="input-field col s3">
		<label for="nome" class="active">Nome:</label>
		<input name="nome" th:field="*{nome}"/>
	</div>
	
	<div class="input-field col s3">
		<label for="sobrenome" class="active">Sobrenome:</label>
		<input name="sobrenome" th:field="*{sobrenome}"/>
	</div>
		
	<div class="input-field col s3">	
		<label for="idade" class="active">idade:</label>
		<input name="idade" th:field="*{idade}"/>
	</div>
</div>


<div class="row">

    <div class="input-field col s3">
		<label for="sexo" class="active">Sexo:</label>
		<select class="browser-default" th:field="*{sexo}">
			<option value="" disabled selected>--[Selecione]--</option>
			<option value="MASCULINO" th:text="Masculino"/>  <!-- value enviado no lado do servidor -->
			<option value="FEMININO" th:text="Feminino"/> 
		</select>
	</div>
	
	
	<div class="input-field col s3">
		<label for="estadoCivil" class="active">Estado Civil:</label>
		<select class="browser-default" th:field="*{estadoCivil}">
			<option value="" disabled selected>--[Selecione]--</option>
			<option value="SOLTEIRO" th:text="Solteiro"/>
			<option value="CASADO" th:text="Casado"/>
		</select>
		
	</div>
	
	
	
	<div class="input-field col s3">
		<label for="telefone" class="active">telefone:</label>
		<input name="telefone" th:field="*{telefone}"/>
	</div>
	
	<div class="input-field col s3">
		<label for="cpf" class="active">CPF:</label>
		<input name="cpf" th:field="*{cpf}"/>
	</div>
</div>		


<div class="row">
	<div class="input-field col s3">
		<label for="rg" class="active">RG:</label>
		<input name="rg" th:field="*{rg}"/>
	</div>
	
	<div class="input-field col s3">
		<label for="numeroCtps" class="active">Nº CTPS:</label>
		<input name="numeroCtps" th:field="*{numeroCtps}"/>
	</div>
	
	<!-- chamando o enum -->
	<div class="input-field col s3">
		<label for="escolaridade" class="active">Escolaridade:</label>
		<select class="browser-default" th:field="*{escolaridade}" id="escolaridade">
		  <option th:each = "e : ${T(br.com.rh.model.Escolaridade).values()}" th:value="${e}" th:text="${e.nome}" />
		</select>
	
	</div>
		
	<div class="input-field col s3">
		<label for="dtNascimento" class="active">Data Nascimento:</label>
		<input type="date" id="dtNascimento" name="dtNascimento" th:field="*{dtNascimento}" placeholder="Data Nasc."/>
	</div>
	
	
</div>	

<!-- VIA CEP -->

<div class="row">
	<div class="input-field col s3">
		<label for="cep" class="active">CEP:</label>
		<input name="cep" th:field="*{cep}"/>
	</div>
	
	<div class="input-field col s3">
		<label for="rua" class="active">Rua:</label>
		<input name="rua" th:field="*{rua}"/>
	</div>
	
	<div class="input-field col s3">
		<label for="bairro" class="active">Bairro:</label>
		<input name="bairro" th:field="*{bairro}"/>
	</div>

	<div class="input-field col s3">
		<label for="cidade" class="active">Cidade:</label>
		<input name="cidade" th:field="*{cidade}"/>
	</div>
</div>		
	
<div class="row">	
	<div class="input-field col s3">
		<label for="uf" class="active">Estado:</label>
		<input name="uf" th:field="*{uf}"/>
	</div>
	
	<div class="input-field col s3">
		<label for="ibge" class="active">IBGE:</label>
		<input name="ibge" th:field="*{ibge}"/>
	</div>
</div>




<div class="row">
   <div class="input-fiel col s6">
		<input class="btn waves-effect waves-light btn" type="submit" value="salvar">
   </div>
</div>
	
	

</form>
</div><!-- DIV ROM PRINCIPAL -->


<a href="/listafuncionarios">Lista de Funcionáros</a>

<table class="striped">  
	<tr th:each = "funcionario :${funcionarios}">
		<td th:text = "${funcionario.id}"></td>
		<td th:text = "${funcionario.nome}"></td>
		<td th:text = "${funcionario.sobrenome}"></td>
		<td th:text = "${funcionario.idade}"></td>
		<td><a th:href="@{/editarfuncionario/{idfuncionario}(idfuncionario=${funcionario.id})}">Editar</a></td>
		<td><a th:href="@{/excluirfuncionario/{idfuncionario}(idfuncionario=${funcionario.id})}">Excluir</a></td>
	</tr>
</table>


<script type="text/javascript">
 
$(document).ready(function() {
	
	//Colocando no JS codigo para executa o calendar
	$('#dataNascimento').datepicker({
				showOthermonths:true,
				format: 'yyyy-mm-dd'
				
				
	});
}




</script>
<!-- Adicionando Javascript -->
    <script type="text/javascript" >

        $(document).ready(function() {

            function limpa_formulário_cep() {
                // Limpa valores do formulário de cep.
                $("#rua").val("");
                $("#bairro").val("");
                $("#cidade").val("");
                $("#uf").val("");
                $("#ibge").val("");
            }
            
            //Quando o campo cep perde o foco.
            $("#cep").blur(function() {

                //Nova variável "cep" somente com dígitos.
                var cep = $(this).val().replace(/\D/g, '');

                //Verifica se campo cep possui valor informado.
                if (cep != "") {

                    //Expressão regular para validar o CEP.
                    var validacep = /^[0-9]{8}$/;

                    //Valida o formato do CEP.
                    if(validacep.test(cep)) {

                        //Preenche os campos com "..." enquanto consulta webservice.
                        $("#rua").val("...");
                        $("#bairro").val("...");
                        $("#cidade").val("...");
                        $("#uf").val("...");
                        $("#ibge").val("...");

                        //Consulta o webservice viacep.com.br/
                        $.getJSON("https://viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {

                            if (!("erro" in dados)) {
                                //Atualiza os campos com os valores da consulta.
                                $("#rua").val(dados.logradouro);
                                $("#bairro").val(dados.bairro);
                                $("#cidade").val(dados.localidade);
                                $("#uf").val(dados.uf);
                                $("#ibge").val(dados.ibge);
                            } //end if.
                            else {
                                //CEP pesquisado não foi encontrado.
                                limpa_formulário_cep();
                                alert("CEP não encontrado.");
                            }
                        });
                    } //end if.
                    else {
                        //cep é inválido.
                        limpa_formulário_cep();
                        alert("Formato de CEP inválido.");
                    }
                } //end if.
                else {
                    //cep sem valor, limpa formulário.
                    limpa_formulário_cep();
                }
            });
        });

    </script>




 <!--JavaScript at end of body for optimized loading-->
 <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
 <script type="text/javascript" src="/materialize/js/materialize.js"></script>
</body>
</html>