<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>

<!-- DOis imports para utiliza em DATE CALENDARIO MATERIALIZE-->
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Insert title here</title>
</head>
<body>



 <h2>Acesso ao Sistema de Recursos Humanos </h2>
 
 <a href="cadastrofuncionario" class="btn waves-effect waves-light">Funcionário</a>
 
 
<!-- DESENVOLVER FUNÇÕES ABAIXO -->
  
  <a href="cadastrodepartamento" class="btn waves-effect waves-light">Departamento</a>
  <a href="cadastrocargo" class="btn waves-effect waves-light">Cargo</a>
  <a href="cadastrocontrato" class="btn waves-effect waves-light">Contrato</a>
  <a href="cadastropagamento" class="btn waves-effect waves-light">Pagamento</a>

 
 
 
  <!--JavaScript at end of body for optimized loading-->
 <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
 <script type="text/javascript" src="/materialize/js/materialize.js"></script>
 
</body>
</html>