<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="/materialize/css/materialize.min.css"  media="screen,projection"/>

<!-- DOis imports para utiliza em DATE CALENDARIO MATERIALIZE-->
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css" />

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Sistema de Recursos Humanos</title>
</head>
<body>



 <h2>Acesso ao Sistema de Recursos Humanos </h2>
 

<!-- DESENVOLVER FUNÇÕES ABAIXO -->

  
  <div class="row">
  	<div class="col s6">
  	 <div class="card teal darken-4">
        <div class="card-content white-text">
          <span class="card-title">Funcionário</span>
          <p>Dados cadastrais dos funcionários</p>
        </div>
        <div class="card-action">
            <a href="cadastrofuncionario">Cad. Funcionário</a>
        </div>
      </div>
  	</div>
  	
  	<div class="col s6">
  	 <div class="card teal darken-4">
        <div class="card-content white-text">
          <span class="card-title">Departamento</span>
          <p>Dados Caddastrais departamento</p>
        </div>
        <div class="card-action">
            <a href="cadastrodepartamento">Cad. Departamento</a>
        </div>
      </div>
  	</div>
  </div>
  
<div class="row">
  	<div class="col s6 m6">
  	 <div class="card teal darken-4">
        <div class="card-content white-text">
          <span class="card-title">Cargo</span>
          <p>Dados Cadastrais dos cargos</p>
        </div>
        <div class="card-action">
            <a href="cadastrocargo">Cad. Departamento</a>
        </div>
      </div>
  	</div>
  	
  	<div class="col s6 m6">
  	 <div class="card teal darken-4">
        <div class="card-content white-text">
          <span class="card-title">Contrato</span>
          <p>Dados Cadastrais Contrato</p>
        </div>
        <div class="card-action">
            <a href="cadastrocontrato">Cad. Contrato</a>
        </div>
      </div>
  	</div>
  	
 </div>
 
 
  <div class="row">
  	<div class="col s6 m6">
  	 <div class="card teal darken-4">
        <div class="card-content white-text">
          <span class="card-title">Pagamento</span>
          <p>Dados Cadastrais Pagamentos</p>
        </div>
        <div class="card-action">
            <a href="cadastropagamento">Cad. Pagamentos</a>
        </div>
      </div>
  	</div>
  	
  	<div class="col s6 m6">
  	 <div class="card teal darken-4">
        <div class="card-content white-text">
          <span class="card-title">Suporte</span>
          <p>Suporte a ser desenvolvida formulário</p>
        </div>
        <div class="card-action">
            <a href="cadastrosuporte">Cad. Suporte</a>
        </div>
      </div>
  	</div>
 </div>
 
 
 
  <!--JavaScript at end of body for optimized loading-->
 <script type="text/javascript" src="/materialize/js/materialize.min.js"></script>
 <script type="text/javascript" src="/materialize/js/materialize.js"></script>
 
</body>
</html>